{% extends 'base.html.twig' %}

	{% block body %}
        <article>
            <h1>Ale klops!</h1>
         <h2>Składniki </h2>
<p>
    2 zmielone cebule</br>
    2 ząbki czosnku przeciśnięte przez wyciskarkę</br>
    200 gram drobno utartych pieczarek</br>
    1 surowe jajko</br>
    1 kg mielonego mięsa z piersi indyczej</br>
    słodka papryka</br>
    pieprz</br>
    majeranek do smaku na sos:</br>
    pęczek pietruszki</br>
    200 ml jogurtu greckiego pieprz</br>
    sól</br>
    słodka papryka</br>
    3 łyżki soku z cytryny</br>
</p>



            <h2>Przygotowanie:</h2>

            <p>
                Powyższe skladniki dokładnie wymieszać ręką. Połowe przełożyć do formy.</br>
                Na tym ułożyć 3 jajka ugotowane na twardo. Przykryć reszta masy mięsnej.</br>
                Piec 40 minut w 200 stopniach C.</br>
                Zielony sos :</br>
                szklankę jogurtu greckiego wymieszać w przystawce z małym pęczkiem pietruszki, </br>
                doprawić solą, pieprzem i sokiem z cytryny.</br>
            </p>


        </article>
    {% endblock %}
