{% extends 'base.html.twig' %}

	{% block body %}
        <article>
            <h1>Bigos</h1>
         <h2>Składniki</h2>
<p>
    5 kg kapusty białej</br>
    3.3 kapusty kiszonej</br>
    po 1.5 kg: boczku</br>
    łopatki wieprzowej</br>
    wołowiny</br>
    kiełbasy</br>
    1 kg cebuli</br>
    20 dag suszonych grzybów</br>
    30 dag śliwek suszonych</br>
    20 dag przecieru pomidorowego</br>
    sól</br>
    pieprz</br>
    ziarenka jałowca</br>
    przyprawy</br>
</p>



            <h2>Przygotowanie:</h2>

            <p>
                Mięsa ugotować w małej ilości wody, trochę ostudzić.Dodać poszatkowaną kapustę białą i namoczone wcześniej grzybki</br>
                po jakiś 10 minutach dodać kapustę kiszoną, pokrojone w kostkę mięsa, kiełbasę i cebulę. Doprawić do smaku. Można dodać czerwone wino</br>
                łyżeczkę miodu, kminek, majeranek i jeszcze chwilę podusić.</br>
            </p>


        </article>
    {% endblock %}
