{% extends 'base.html.twig' %}

	{% block body %}
        <article>
            <h1>Jajecznica Z Boczkiem</h1>
         <h2>Składniki</h2>
<p>
        Cztery jajka</br>
        2 łyżki oleju</br>
        2 łyżki mleka</br>
        Sól i pieprz</br>
        30 dag boczku</br>
</p>



            <h2>Przygotowanie:</h2>

            <p>
            Mleko i jajka wlać do miseczki i dokładnie wymieszać.</br> 
            Olej wlać na patelnię tak, aby się trochę zagrzał. Boczek trzeba zagrzać w tym oleju.</br>
            Następnie wlać jajka na patelnię i dodać pieprzu i soli (kto ile lubi). Grzać 5-6 min.</br>
            </p>


        </article>
    {% endblock %}
