{% extends 'base.html.twig' %}

	{% block body %}
        <article>
            <h1>Kąski z piersi kurczaka</h1>
         <h2>Składniki </h2>
<p>
    1 podwójna pierś z kurczaka</br>
    sól i pieprz</br>
    ulubione zioła</br>
    olej lub oliwa z oliwek (do smażenia)</br>
</p>



            <h2>Przygotowanie:</h2>

            <p>
                przygotowania: Pierś z kurczaka umyj, oczyść z błonek. </br>
                Pokrój na kotleciki (wielkości nuggetsów - ok. 2x3 cm) o grubości około 1 cm. </br>
                Przypraw solą, pieprzem i ulubionymi ziołami. Odstaw na około 0,5 godziny do lodówki. </br>
                Następnie na patelni rozgrzej niewielką ilość tłuszczu. </br>
                Smaż kurczaka z obydwu stron na złoto.</br>
                Możesz podawać z ulubionym sosem. Świetne również jako dodatek do sałatki.</br>
            </p>


        </article>
    {% endblock %}
