{% extends 'base.html.twig' %}

	{% block body %}
        <article>
            <h1>Sałatka Jarzynowa</h1>
         <h2>Składniki</h2>
<p>
    3 ugotowane marchewki</br>
    2 ugotowane pietruszki</br>
    1 mały ugotowany seler</br>
    3-4 ogórki kiszone lub konserwowe</br>
    1 cebula</br>
    2 jajka na twardo</br>
    1 jabłko</br>
    1 puszka groszku konserwowego lub 1 puszka kukurydzy</br>
    ew. 1-2 ugotowane w mundurkach ziemniaki</br>

<h3>Sos:</h3>
    1 słoik majonezu</br>
    sól</br>
    pieprz</br>
    trochę kwaśnej śmietany</br>
    ząbek czosnku</br>
    sok z cytryny</br>
</p>



            <h2>Przygotowanie:</h2>

            <p>
                Pokrój w równą kostkę marchewki, pietruszki i seler, wymieszaj w misce.</br>
                Dodaj posiekane ogórki, posiekaną i sparzoną wrzątkiem cebulę, starte na grubej tarce jabłko</br>
                pokrojone jajka (moja mama dodawała do sałatki jarzynowej ścięte białka - żółtka zużywała do robienia domowego majonezu)</br>
                obrane i pokrojone w kosteczkę ziemniaki oraz osączony groszek z puszki. Połącz składniki sosu, polej sałatkę jarzynową i dokładnie</br>
                ale delikatnie wymieszaj. Odstaw sałatkę jarzynową na całą noc w chłodne miejsce, aby składniki się przegryzły.</br>
            </p>


        </article>
    {% endblock %}
