{% extends 'base.html.twig' %}

	{% block body %}
        <article>
            <h1>Żurek</h1>
         <h2>Składniki, 6 porcji: </h2>
<p>
    - 500 g surowej białej kiełbasy </br>
    - 1 włoszczyzna bez kapusty </br>
    - gałązka natki pietruszki </br>
    - 1 cebula </br>
    - 1 ząbek czosnku </br>
    - 1 kawałek suszonego borowika </br>
    - przyprawy: 1 i 1/2 łyżeczki soli, kilka ziaren pieprzu, 2 listki laurowe, 5 ziaren ziela angielskiego </br>
    - 2 łyżeczki suszonego majeranku </br>
    - świeżo zmielony pieprz </br>
    - 500 ml żurku (zakwasu z mąki żytniej) </br>

    - do podania: ugotowane jajka, suszony majeranek, natka pietruszki </br>
</p>



            <h2>Przygotowanie:</h2>

            <p>
                Do większego garnka włożyć pierwszych 7 składników z listy: opłukaną kiełbasę, obrane i opłukane warzywa z</br>
                włoszczyzny, gałązkę natki pietruszki, nieobraną opłukaną cebulę, nieobrany czosnek, suszonego borowika, przyprawy.</br>
                Wlać 2 litry zimnej wody i zagotować.</br>
                Zszumować, zmniejszyć ogień, przykryć i gotować przez ok. 40 minut. Odstawić na 10 minut, następnie przecedzić przez</br>
                sitko do czystego garnka. Dodać majeranek i doprawić świeżo zmielonym pieprzem.</br>
                Dodać żurek (przed użyciem dokładnie wymieszać) i co chwilę mieszając zagotować. </br>
                Gotować na małym ogniu przez 1-2 minuty. Podawać z pokrojoną kiełbasą, ugotowanym jajkiem i suszonym majerankiem.</br>
            </p>


        </article>
    {% endblock %}
